code/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"
                    schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="apiImportImportEntitiesResultArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="apiImportImportEntitiesArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:associativeArray[]" />
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>

    <message name="apiImportImportEntitiesRequest">
        <part name="sessionId" type="xsd:string"/>
        <part name="entities" type="typens:apiImportImportEntitiesArray" />
        <part name="entityType" type="xsd:string" />
        <part name="behaviour" type="xsd:string" />
    </message>
    <message name="apiImportImportEntitiesResponse">
        <part name="result" type="typens:apiImportImportEntitiesResultArray" />
    </message>

    <portType name="{{var wsdl.handler}}PortType">
        <operation name="apiImportImportEntities">
            <documentation>Import entities</documentation>
            <input message="typens:apiImportImportEntitiesRequest" />
            <output message="typens:apiImportImportEntitiesResponse" />
        </operation>
    </portType>

    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="apiImportImportEntities">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
</definitions>
